hjson
jsonref
jsonschema
Mako
PyYAML
pyelftools==0.29
requests
mako
pyyaml
tabulate
yapf
mkdocs
mkdocs-material
mkdocs-glightbox
dataclasses
jstyleson
flatdict
peakrdl
peakrdl-rawheader
setuptools<81
json5
